In [1]:
import pandas as dp #импорт pandas для того чтобы работать с этой библиотекой

df = dp.read_csv('waterQuality1.csv') #читает таблицу/файл
df.head() #Для получения первых n строк дата-сета используется метод head(n). По умолчанию возвращается пять первых строк.
#Вывод: вывел информацию о пяти первых строках из датасета элементов.

,aluminium,ammonia,arsenic,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,...,lead,nitrates,nitrites,mercury,perchlorate,radium,selenium,silver,uranium,is_safe
0,1.65,9.08,0.04,2.85,0.007,0.35,0.83,0.17,0.05,0.20,...,0.054,16.08,1.13,0.007,37.75,6.78,0.08,0.34,0.02,1
1,2.32,21.16,0.01,3.31,0.002,5.28,0.68,0.66,0.90,0.65,...,0.100,2.01,1.93,0.003,32.26,3.21,0.08,0.27,0.05,1
2,1.01,14.02,0.04,0.58,0.008,4.24,0.53,0.02,0.99,0.05,...,0.078,14.16,1.11,0.006,50.28,7.07,0.07,0.44,0.01,0
3,1.36,11.33,0.04,2.96,0.001,7.23,0.03,1.66,1.08,0.71,...,0.016,1.41,1.29,0.004,9.12,1.72,0.02,0.45,0.05,1
4,0.92,24.33,0.03,0.20,0.006,2.67,0.69,0.57,0.61,0.13,...,0.117,6.74,1.11,0.003,16.90,2.41,0.02,0.06,0.02,1

In [3]:
import pandas as dp #импорт pandas для того чтобы работать с этой библиотекой
df = dp.read_csv('waterQuality1.csv') #читает таблицу/файл
df.shape #выводит размерность массива

(7999, 21)

In [4]:
import pandas as dp #импорт pandas для того чтобы работать с этой библиотекой
df = dp.read_csv('waterQuality1.csv') #читает таблицу/файл
df.columns #выводит наименование всех колонок

Index(['aluminium', 'ammonia', 'arsenic', 'barium', 'cadmium', 'chloramine',
       'chromium', 'copper', 'flouride', 'bacteria', 'viruses', 'lead',
       'nitrates', 'nitrites', 'mercury', 'perchlorate', 'radium', 'selenium',
       'silver', 'uranium', 'is_safe'],
      dtype='object')

In [5]:
import pandas as dp #импорт pandas для того чтобы работать с этой библиотекой
df = dp.read_csv('waterQuality1.csv') #читает таблицу/файл
df.nunique() #выводит все уникальные значения

aluminium       495
ammonia        2564
arsenic         107
barium          480
cadmium          23
chloramine      812
chromium         91
copper          201
flouride        151
bacteria        101
viruses          61
lead            200
nitrates       1803
nitrites        280
mercury          11
perchlorate    2999
radium          735
selenium         11
silver           51
uranium          10
is_safe           3
dtype: int64

In [6]:
import pandas as dp #импорт pandas для того чтобы работать с этой библиотекой
df = dp.read_csv('waterQuality1.csv') #читает таблицу/файл
df.sort_values(by='aluminium') #сортирует по колонке "aluminium"

,aluminium,ammonia,arsenic,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,...,lead,nitrates,nitrites,mercury,perchlorate,radium,selenium,silver,uranium,is_safe
3386,0.00,28.45,0.53,3.79,0.10,6.34,0.88,1.23,1.48,0.57,...,0.106,7.17,1.23,0.005,17.87,7.71,0.09,0.09,0.04,0
6126,0.00,23.15,0.01,0.92,0.01,0.27,0.02,1.95,1.38,0.46,...,0.191,18.27,1.03,0.009,2.27,0.99,0.05,0.05,0.02,0
6120,0.00,22.07,0.02,0.06,0.01,0.10,0.05,0.24,0.66,0.09,...,0.170,16.17,1.51,0.006,1.05,0.97,0.02,0.04,0.02,0
4255,0.00,7.09,0.03,0.04,0.06,0.18,0.04,0.10,0.45,0.00,...,0.198,7.10,0.21,0.008,2.05,0.56,0.00,0.05,0.06,0
7447,0.00,8.39,0.03,0.51,0.08,0.02,0.01,1.67,0.02,0.10,...,0.028,14.45,2.26,0.009,0.38,5.18,0.06,0.04,0.03,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1490,5.01,19.29,0.65,3.45,0.03,1.82,0.64,0.36,0.64,0.00,...,0.005,2.01,1.69,0.001,16.50,1.45,0.07,0.32,0.05,0
1831,5.03,7.38,0.66,4.21,0.10,1.31,0.81,1.52,0.94,0.15,...,0.042,2.08,2.27,0.008,3.20,1.71,0.05,0.49,0.02,0
1501,5.03,26.11,0.06,1.09,0.04,6.07,0.73,0.87,0.29,0.00,...,0.195,8.77,2.11,0.007,1.42,7.52,0.06,0.26,0.02,0
1613,5.03,7.59,0.13,0.94,0.04,3.22,0.19,1.00,0.36,0.00,...,0.001,1.17,1.41,0.008,47.79,3.80,0.09,0.32,0.04,0
1167,5.05,19.35,0.28,2.90,0.05,1.02,0.19,0.36,1.39,0.00,...,0.116,3.25,1.80,0.001,1.29,7.85,0.06,0.05,0.08,0

In [7]:
import pandas as dp #импорт pandas для того чтобы работать с этой библиотекой
df = dp.read_csv('waterQuality1.csv') #читает таблицу/файл
df.drop(columns = ["arsenic"]) #удаляет всю колонку под название "arsenic"

,aluminium,ammonia,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,viruses,lead,nitrates,nitrites,mercury,perchlorate,radium,selenium,silver,uranium,is_safe
0,1.65,9.08,2.85,0.007,0.35,0.83,0.17,0.05,0.20,0.000,0.054,16.08,1.13,0.007,37.75,6.78,0.08,0.34,0.02,1
1,2.32,21.16,3.31,0.002,5.28,0.68,0.66,0.90,0.65,0.650,0.100,2.01,1.93,0.003,32.26,3.21,0.08,0.27,0.05,1
2,1.01,14.02,0.58,0.008,4.24,0.53,0.02,0.99,0.05,0.003,0.078,14.16,1.11,0.006,50.28,7.07,0.07,0.44,0.01,0
3,1.36,11.33,2.96,0.001,7.23,0.03,1.66,1.08,0.71,0.710,0.016,1.41,1.29,0.004,9.12,1.72,0.02,0.45,0.05,1
4,0.92,24.33,0.20,0.006,2.67,0.69,0.57,0.61,0.13,0.001,0.117,6.74,1.11,0.003,16.90,2.41,0.02,0.06,0.02,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7994,0.05,7.78,1.95,0.040,0.10,0.03,0.03,1.37,0.00,0.000,0.197,14.29,1.00,0.005,3.57,2.13,0.09,0.06,0.03,1
7995,0.05,24.22,0.59,0.010,0.45,0.02,0.02,1.48,0.00,0.000,0.031,10.27,1.00,0.001,1.48,1.11,0.09,0.10,0.08,1
7996,0.09,6.85,0.61,0.030,0.05,0.05,0.02,0.91,0.00,0.000,0.182,15.92,1.00,0.000,1.35,4.84,0.00,0.04,0.05,1
7997,0.01,10,2.00,0.000,2.00,0.00,0.09,0.00,0.00,0.000,0.000,0.00,0.00,0.000,0.00,0.00,0.00,0.00,0.00,1
7998,0.04,6.85,0.70,0.030,0.05,0.01,0.03,1.00,0.00,0.000,0.182,15.92,1.00,0.000,1.35,4.84,0.00,0.04,0.05,1

In [18]:
import pandas as dp #импорт pandas для того чтобы работать с этой библиотекой
df = dp.read_csv('waterQuality1.csv') #читает таблицу/файл
df=df.replace({"arsenic":0.04}, "Unknown") #Заменяет значения, равные 0.04 на Unknown
df.head() #выводит таблицу, показывая уже изменённый стобец "arsenic"

,aluminium,ammonia,arsenic,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,...,lead,nitrates,nitrites,mercury,perchlorate,radium,selenium,silver,uranium,is_safe
0,1.65,9.08,Unknown,2.85,0.007,0.35,0.83,0.17,0.05,0.20,...,0.054,16.08,1.13,0.007,37.75,6.78,0.08,0.34,0.02,1
1,2.32,21.16,0.01,3.31,0.002,5.28,0.68,0.66,0.90,0.65,...,0.100,2.01,1.93,0.003,32.26,3.21,0.08,0.27,0.05,1
2,1.01,14.02,Unknown,0.58,0.008,4.24,0.53,0.02,0.99,0.05,...,0.078,14.16,1.11,0.006,50.28,7.07,0.07,0.44,0.01,0
3,1.36,11.33,Unknown,2.96,0.001,7.23,0.03,1.66,1.08,0.71,...,0.016,1.41,1.29,0.004,9.12,1.72,0.02,0.45,0.05,1
4,0.92,24.33,0.03,0.20,0.006,2.67,0.69,0.57,0.61,0.13,...,0.117,6.74,1.11,0.003,16.90,2.41,0.02,0.06,0.02,1

In [9]:
import pandas as dp #импорт pandas для того чтобы работать с этой библиотекой
df = dp.read_csv('waterQuality1.csv') #читает таблицу/файл
df.drop_duplicates() #Удаляет дубликаты

,aluminium,ammonia,arsenic,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,...,lead,nitrates,nitrites,mercury,perchlorate,radium,selenium,silver,uranium,is_safe
0,1.65,9.08,0.04,2.85,0.007,0.35,0.83,0.17,0.05,0.20,...,0.054,16.08,1.13,0.007,37.75,6.78,0.08,0.34,0.02,1
1,2.32,21.16,0.01,3.31,0.002,5.28,0.68,0.66,0.90,0.65,...,0.100,2.01,1.93,0.003,32.26,3.21,0.08,0.27,0.05,1
2,1.01,14.02,0.04,0.58,0.008,4.24,0.53,0.02,0.99,0.05,...,0.078,14.16,1.11,0.006,50.28,7.07,0.07,0.44,0.01,0
3,1.36,11.33,0.04,2.96,0.001,7.23,0.03,1.66,1.08,0.71,...,0.016,1.41,1.29,0.004,9.12,1.72,0.02,0.45,0.05,1
4,0.92,24.33,0.03,0.20,0.006,2.67,0.69,0.57,0.61,0.13,...,0.117,6.74,1.11,0.003,16.90,2.41,0.02,0.06,0.02,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7994,0.05,7.78,0.00,1.95,0.040,0.10,0.03,0.03,1.37,0.00,...,0.197,14.29,1.00,0.005,3.57,2.13,0.09,0.06,0.03,1
7995,0.05,24.22,0.02,0.59,0.010,0.45,0.02,0.02,1.48,0.00,...,0.031,10.27,1.00,0.001,1.48,1.11,0.09,0.10,0.08,1
7996,0.09,6.85,0.00,0.61,0.030,0.05,0.05,0.02,0.91,0.00,...,0.182,15.92,1.00,0.000,1.35,4.84,0.00,0.04,0.05,1
7997,0.01,10,0.01,2.00,0.000,2.00,0.00,0.09,0.00,0.00,...,0.000,0.00,0.00,0.000,0.00,0.00,0.00,0.00,0.00,1
7998,0.04,6.85,0.01,0.70,0.030,0.05,0.01,0.03,1.00,0.00,...,0.182,15.92,1.00,0.000,1.35,4.84,0.00,0.04,0.05,1

In [13]:
import pandas as dp #импорт pandas для того чтобы работать с этой библиотекой
df = dp.read_csv('waterQuality1.csv') #читает таблицу/файл
df.info() #info() в библиотеке Pandas используется для получения общей информации о DataFrame, включая количество непустых значений, типы данных в каждом столбце и объем потребляемой памяти.
#Вывод: используя эту функцию, вывел:
#-Количество непустых значений в каждом столбце.
#-Тип данных каждого столбца.
#-Общее количество столбцов.
#-Количество использованной памяти.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7999 entries, 0 to 7998
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   aluminium    7999 non-null   float64
 1   ammonia      7999 non-null   object
 2   arsenic      7999 non-null   float64
 3   barium       7999 non-null   float64
 4   cadmium      7999 non-null   float64
 5   chloramine   7999 non-null   float64
 6   chromium     7999 non-null   float64
 7   copper       7999 non-null   float64
 8   flouride     7999 non-null   float64
 9   bacteria     7999 non-null   float64
 10  viruses      7999 non-null   float64
 11  lead         7999 non-null   float64
 12  nitrates     7999 non-null   float64
 13  nitrites     7999 non-null   float64
 14  mercury      7999 non-null   float64
 15  perchlorate  7999 non-null   float64
 16  radium       7999 non-null   float64
 17  selenium     7999 non-null   float64
 18  silver       7999 non-null   float64
 19  uranium      7999 non-null   float64
 20  is_safe      7998 non-null   object
dtypes: float64(19), object(2)
memory usage: 1.3+ MB

In [11]:
import pandas as dp #импорт pandas для того чтобы работать с этой библиотекой
df = dp.read_csv('waterQuality1.csv') #читает таблицу/файл
df.describe() #Функция возвращает основные статистические показатели для каждого числового столбца датасета элементов.
#Вывели показатели таблицы с помощью describe(), такие как количество, среднее значение, стандартное отклонение, минимальное и максимальное значения, медиана и квартили.

,aluminium,arsenic,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,viruses,lead,nitrates,nitrites,mercury,perchlorate,radium,selenium,silver,uranium
count,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000
mean,0.666158,0.161445,1.567715,0.042806,2.176831,0.247226,0.805857,0.771565,0.319665,0.328583,0.099450,9.818822,1.329961,0.005194,16.460299,2.920548,0.049685,0.147781,0.044673
std,1.265145,0.252590,1.216091,0.036049,2.567027,0.270640,0.653539,0.435373,0.329485,0.378096,0.058172,5.541331,0.573219,0.002967,17.687474,2.323009,0.028770,0.143551,0.026904
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.040000,0.030000,0.560000,0.008000,0.100000,0.050000,0.090000,0.405000,0.000000,0.002000,0.048000,5.000000,1.000000,0.003000,2.170000,0.820000,0.020000,0.040000,0.020000
50%,0.070000,0.050000,1.190000,0.040000,0.530000,0.090000,0.750000,0.770000,0.220000,0.008000,0.102000,9.930000,1.420000,0.005000,7.740000,2.410000,0.050000,0.080000,0.050000
75%,0.280000,0.100000,2.480000,0.070000,4.240000,0.440000,1.390000,1.160000,0.610000,0.700000,0.151000,14.610000,1.760000,0.008000,29.480000,4.670000,0.070000,0.240000,0.070000
max,5.050000,1.050000,4.940000,0.130000,8.680000,0.900000,2.000000,1.500000,1.000000,1.000000,0.200000,19.830000,2.930000,0.010000,60.010000,7.990000,0.100000,0.500000,0.090000

In [12]:
import pandas as dp #импорт pandas для того чтобы работать с этой библиотекой
df = dp.read_csv('waterQuality1.csv') #читает таблицу/файл
row_data = df.loc[0] #проводит выборку данных по строкам и столбцам
print(row_data) #выводит выборку данных

aluminium       1.65
ammonia         9.08
arsenic         0.04
barium          2.85
cadmium        0.007
chloramine      0.35
chromium        0.83
copper          0.17
flouride        0.05
bacteria         0.2
viruses          0.0
lead           0.054
nitrates       16.08
nitrites        1.13
mercury        0.007
perchlorate    37.75
radium          6.78
selenium        0.08
silver          0.34
uranium         0.02
is_safe            1
Name: 0, dtype: object